doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    if title
      title #{title} - #{public._data.name} Living Style Guide
    else
      title #{public._data.name} Living Style Guide

    link(href="/stylesheets/styleguide/styleguide.css" type="text/css" rel="stylesheet")

  body.lsg
    header.lsg-header
      a.lsg-nav-toggle
        span.lsg-nav-icon
      a.lsg-header-title(href='/')
        strong #{public._data.name}
        |  Living Style Guide
      span.lsg-header-version v.#{public._data.version}
    nav.lsg-nav
      .lsg-nav-content
        h2 Base
        ul
          - for file, index in public.base._data
            li
              a(href="base/#{index}.html")
                = file.title
        h2 Layouts
        ul
          - for layout in public.layouts._data.layouts
            li
              a(href="layouts/#{layout}")
                = layout
        h2 Modules
        ul
          - for module in public.modules._data.modules
            li
              a(href="modules/#{module}")
                = module
        h2 Components
        ul
          - for component in public.components._data.components
            li
              a(href="components/#{component}")
                = component
        h2 Templates
        ul
          - for template in public.templates._data.templates
            li
              a(href="templates/#{template}")
                = template.replace('.html', '')
    main.lsg-main
      != yield

    script(src="/javascript/lib/jquery-2.1.4.min.js")
    script(src="/javascript/styleguide/lib/ish.js")
    script(src="/javascript/styleguide/styleguide.js")
